<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "About" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">

          <h3>Amsa HrSystem</h3>
          <p>
            The project is a human resource management system developed using C# ASP.NET Boilerplate technologies for the backend and Angular for the frontend. The project aims to facilitate the management of employee-related operations within the organization, from recording their shifts and managing vacations to calculating salaries and following up on training and development. The technical environment is designed to be comprehensive and robust to ensure that project objectives are met.

          </p>
          <h3>The project mechanism includes the following steps:
          </h3>
          <p>
            Architecture planning and design: The project requirements are defined and the general structure of the application is designed with interfaces and interaction details between the different departments defined.

            Environment Setup: Prepare the development environment using C# ASP.NET Boilerplate for backend and Angular for frontend by configuring projects and using appropriate tools.
          </p>
          <p>

            Backend Development: Components and logic are developed in the backend using C# and ASP.NET Boilerplate, including defining models, services, and web controls.

Frontend development: UI development is done using Angular, where interactive pages, components, and services are created.

Communication between the back and the front end: Communication between the back and the front end takes place through application programming interfaces (APIs) to exchange data between the two parts.

Testing and debugging: The system is tested in detail to ensure it interacts correctly, and apparent errors and problems are addressed.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>