<form
  class="form-horizontal"
  autocomplete="off"
  #createTenantForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditEntranceExitRecord' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
   
    <div class="form-group row required">
        <label class="col-md-12 col-form-label" for="file">
          {{ "File" | localize }}
        </label>
        <div class="col-md-12">
          <input
            type="file"
            class="form-control"
            name="file"
            id="file"
            maxlength="128"
            required
            (change)="onFileChange($event)"
            accept=".xls, .xlsx"
            formEnctype="multipart/form-data"
            />
        
        </div>
      </div>
    
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createTenantForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
