<div [@routerTransition]>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h1>{{ "Education Grades" | localize }}</h1>
          </div>
          <div class="col-6 text-right">
            <a href="javascript:;"
              class="btn bg-blue"
              (click)="createEducationGrade()">
              <i class="fa fa-plus-square"></i>
              {{ "Create" | localize }}
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="content px-2">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">
         
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered"
                [busy]="isTableLoading">
                <thead class="bg-light">
                  <tr>
                    <th>{{ "Name" | localize }}</th>
                    <th>{{ "Order" | localize }}</th>
                    <th>{{ "Min Salary" | localize }}</th>
                    <th>{{ "Max Salary" | localize }}</th>
                    <th>{{ "Currency" | localize }}</th>
                    <th>{{ "Description" | localize }}</th>
                    <th style="width: 200px;">{{ "Actions" | localize }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                    let educationGrade of educationGrades
                      | paginate
                        : {
                            id: 'server',
                            itemsPerPage: pageSize,
                            currentPage: pageNumber,
                            totalItems: totalItems
                          }
                  ">
                    <td>{{ educationGrade.name }}</td>
                    <td>{{ educationGrade.order }}</td>
                    <td>{{ educationGrade.minSalary }}</td>
                    <td>{{ educationGrade.maxSalary }}</td>
                    <td *ngIf="educationGrade.currency == 0">{{ "SYP" | localize }}</td>
                    <td *ngIf="educationGrade.currency == 1">{{ "USD" | localize }}</td>
                    <td *ngIf="educationGrade.currency == 2">{{ "EUR" | localize }}</td>
                    <td>{{ educationGrade.description }}</td>
                    <td>
                      <button type="button"
                        class="btn btn-sm bg-secondary"
                        (click)="editEducationGrade(educationGrade)">
                        <i class="fas fa-pencil-alt"></i>
                        {{ "Edit" | localize }}
                      </button>
                      <button type="button"
                        class="btn btn-sm bg-danger mx-2"
                        (click)="delete(educationGrade)">
                        <i class="fas fa-trash"></i>
                        {{ "Delete" | localize }}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer table-card-footer bg-light border-top">
            <div class="row">
              <div class="col-sm-4 col-12 text-sm-left text-center">
                <button class="btn btn-secondary"
                  (click)="refresh()">
                  <i class="fas fa-redo-alt"></i>
                </button>
              </div>
              <div class="col-sm-4 col-12 text-center">
                <p class="mb-0 my-2">
                  {{ "TotalRecordsCount" | localize: totalItems }}
                </p>
              </div>
              <div class="col-sm-4 col-12">
                <div class="float-sm-right m-auto">
                  <abp-pagination-controls id="server"
                    (pageChange)="getDataPage($event)">
                  </abp-pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>