<form
  class="form-horizontal"
  autocomplete="off"
  #createTenantForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewJobTitle' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="entryTime">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="entryTime"
          id="entryTime"
          maxlength="128"
          required
          [(ngModel)]="jobTitle.name"
          #entryTimeModel="ngModel"
          #entryTimeEl
        />
        <abp-validation-summary
          [control]="entryTimeModel"
          [controlEl]="entryTimeEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="shiftRangeStartTime">
          {{ "Order" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="number"
            class="form-control"
            name="shiftRangeStartTime"
            id="shiftRangeStartTime"
            maxlength="128"
            required
            [(ngModel)]="jobTitle.order"
            #shiftRangeStartTimeModel="ngModel"
            #shiftRangeStartTimeEl
          />
          <abp-validation-summary
            [control]="shiftRangeStartTimeModel"
            [controlEl]="shiftRangeStartTimeEl"
          ></abp-validation-summary>
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="shiftRangeEndTime">
          {{ "Employee Count" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="number"
            class="form-control"
            name="shiftRangeEndTime"
            id="shiftRangeEndTime"
            maxlength="128"
            required
            [(ngModel)]="jobTitle.employeeCount"
            #shiftRangeEndTimeModel="ngModel"
            #shiftRangeEndTimeEl
          />
          <abp-validation-summary
            [control]="shiftRangeEndTimeModel"
            [controlEl]="shiftRangeEndTimeEl"
          ></abp-validation-summary>
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="exitTime">
          {{ "Description" | localize }}
        </label>
        <div class="col-md-9">
          <input
            type="text"
            class="form-control"
            name="exitTime"
            id="exitTime"
            maxlength="128"
            required
            [(ngModel)]="jobTitle.description"
            #exitTimeModel="ngModel"
            #exitTimeEl
          />
          <abp-validation-summary
            [control]="exitTimeModel"
            [controlEl]="exitTimeEl"
          ></abp-validation-summary>
        </div>
      </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createTenantForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
